.nav {
    width: 30%;
    margin-bottom: 16px;
    justify-content: space-between;
    padding: 0rem !important;
}

.navBarLink {
    margin: 20px;
    font-size: 20px;
    font-weight: 600px;
    color: white !important;
}

.navBarLink:hover {
    color: var(--new-yellow) !important;
}
